.hero{
    background: linear-gradient(310deg, rgb(7, 7, 7),rgba(103, 102, 102, 0.1));
    padding: 85px 0;
}
.w-spacing {
    word-spacing: 1rem;
}
.discoverOurOffice .nav-link{
    color: #fff;
}
.discoverOurOffice .nav-link.active{
    color: #fff;
    background-color: #1A1A1A;
}