.color{
    color: #999999;
}
.btn-color{
    background-color: #703BF7;
}
.hero-img{
    background:linear-gradient(215deg, rgb(42, 33, 63) 6%, rgba(25, 25, 25, 0.5) 49%), url(./../img/home/hero/abstract.webp);
    background-size: cover;
}
.hero .discover img{
    top: 15%;
    left: 47%;
}
@media screen and (max-width: 1200px) {
    .hero-content{
        order: 1;
    }
    .hero-img{
        order: 0;
    }
    .hero .discover{
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .hero-img img{
        width: 100%;
    }
    .hero .boxes{
        text-align: center;
    }
}
.featured-properties .card span{
    font-size: 15px;
}
.featured-properties .c-img{
    object-fit: contain;
}
.FAQ .card-body{
    background-color: #262626;
}
footer form input{
    outline: none;
}