video{
    position: absolute;
    object-fit: cover;
    left: 0;
}
.loginForm{
    width: 420px;
background: rgba(224, 224, 224, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.8px);
-webkit-backdrop-filter: blur(5.8px);
border: 1px solid rgba(224, 224, 224, 0.15);
}
.loginForm h1{
    font-size: 40px;
}
.loginForm .inputBox{
    height: 50px;
    margin: 30px 0;
}
.inputBox input{
    border: 1px solid black;
    outline: none;
    padding: 20px 45px 20px 20px;
}
.inputBox input::placeholder{
    color: #fff;
}
.inputBox i{
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.remmber-forget{
    margin: -15px 0 15px;
}
.remmber-forget label input{
    margin: 3px;
}
.remmber-forget a:hover{
    border-bottom: solid white ;
}
.loginForm button{
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    box-shadow: 0 0 10 rgb(0, 0, 0, 0.1);
    color: #333;
}
.loginForm button:hover{
    background-color: transparent;
    color: white;
    border: 2px solid #fff;
}
.register{
    margin-top: 20px;
    margin: 20px 0 15px;
}
.register p a :hover{
    text-decoration: underline;
}
@media screen and (max-width: 450px) {
    .loginForm{
        width: 90%;
        height: 100vh;
        margin: auto;
    }
    .inputBox{
        width: 70%;
    }
    .remmber-forget{
        font-size: 10px;
        flex-wrap: wrap;
    }
}