body{
    background-color: #141414;
    font-family: "Urbanist", sans-serif;
    color: #fff;
}
.color{
    color: #999999;
}
header nav, footer .downSide{
    background-color: #1E1E1E;
}
header nav .btn{
    background-color: #141414;
}
.estatein-bg{
    background-color: #141414;
}
.gray-bg{
    background-color: #1A1A1A;
}
.start-journey{
    padding: 85px 0;
    background: url(./../img/public/left-bg.webp) bottom left no-repeat,
                url(./../img/public/right-bg.webp) bottom right no-repeat ;
}
.start-journey a{
    background-color: #703BF7;
}

.upSide-left p{
    color: #999;
}
@media screen and (max-width: 768px) {
    .start-journey{
        background:url(./../img/public/right-bg.webp) bottom right no-repeat;         
    }
    .downSide-left{
        justify-content: center;
    }
}