.key-featuer{
    background: linear-gradient(220deg, rgb(20, 20, 20),rgba(103, 102, 102, 0.1));
    border-left: .2rem solid #703BF7;
}
.featured-properties .card span{
    font-size: 15px;
}
.featured-properties .c-img{
    object-fit: contain;
}